In [55]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("hackathon eGFR_MAU_AMB.csv", sep="\t")

In [59]:
df.loc[8]

Patient               1377626
Age                      20,7
N18                       NaN
DM                        NaN
eGFR_Last                 NaN
ACR_krea_Last             NaN
HT                        NaN
RpAntiHypertenziva        NaN
Name: 8, dtype: object

In [33]:
df.N18.unique()

array([nan,  1.])

In [25]:
df.loc[df["N18"] == 1].Age.str.replace(",", ".").astype(float).mean()

65.72375542933511

In [26]:
df.loc[df["N18"] != 1].Age.str.replace(",", ".").astype(float).mean()

46.950021457017314

In [36]:
df.loc[df["N18"] == "nan"]

Empty DataFrame
Columns: [Patient, Age, N18, DM, eGFR_Last, ACR_krea_Last, HT, RpAntiHypertenziva]
Index: []

In [53]:
df[~df.iloc[:, 2:].isnull().all(1)]

,Patient,Age,N18,DM,eGFR_Last,ACR_krea_Last,HT,RpAntiHypertenziva
17,1377630,"66,2",NaN,NaN,"1,34",NaN,I10/I15,1.0
21,1373369,"28,2",NaN,NaN,"2,02",NaN,NaN,NaN
55,1367926,"51,1",NaN,NaN,"1,31",NaN,NaN,1.0
75,594348,"74,3",1.0,NaN,"0,35","132,7",I10/I15,NaN
86,1377702,"23,5",NaN,NaN,"1,6",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
119469,1372644,"50,7",NaN,NaN,"1,75",NaN,NaN,NaN
119470,188631,"51,6",NaN,1.0,NaN,NaN,NaN,NaN
119471,6850,"47,3",NaN,NaN,"1,74",NaN,NaN,1.0
119472,149565,"60,1",NaN,NaN,NaN,NaN,I10/I15,1.0
119505,1365640,"25,7",NaN,NaN,"2,1",NaN,NaN,NaN